/* Loader CSS */
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #ff0000;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Make sure it's on top */
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

/* Hide the content initially */
#content-wrapper {
  display: none;
}
